.header_div{
    background-color: white;
    color: #ce2700;
}
.header_div img{
    width: 100px;
}
body{
    background-color: dodgerblue;
}
label{
    font-size:30px;
    background-color: white;
    margin-top: 50px;
}
#emoji_title{
    height: 100px;
    width: 50px;
    font-size: 50px;
}
#result_name{
    font-size: 20px;
    color: red;
}